
  
  .login-form {
    margin: auto;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow:0 10px 30px -6px #a7a3da;
    text-align: center;
    margin-top: 100px;
    position: relative;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #222;
  }
  
  .a {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .a:hover {
    text-decoration: underline;
  }

  .h-40
  {
    height: 100px;
  }
  